* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Candara, Lato;
  text-align: center;
}

.yo {
  text-align: justify;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .contenedorImg {
    height: 10vh;
    width: 20vw;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      height: 100%;
      width: auto;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
h3 {
  text-align: center;
}

.tec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2.5px 5px;
}

article {
  padding: 10px 0;

  .little {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    transform: scale(50);
  }
}

.section {
  padding: 10px 0;
  border-bottom: 1px solid #77779bfe;
}

.tecContenedor {
  padding: 10px 0;
}

.section:first-child {
  border-top: 1px solid #77779bfe;
}
