* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  font-family: Candara, Lato;
  text-align: center;
}

.yo {
  text-align: justify;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .contenedorImg {
    height: 10vh;
    width: 20vw;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .img {
      height: 100%;
      width: auto;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 2.5px 5px;
}

article {
  padding: 10px 0;

  .little {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    transform: scale(50);
  }
}

.section {
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid #77779bfe;
}

.tecContenedor {
  padding: 10px 0;
}

.section:first-child {
  border-top: 1px solid #77779bfe;
}

.contenedorProyectos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
  width: 100%;
  gap: 2rem;

  .proyectos {
    padding-bottom: 5px;
  }

  .proyecto {
    background-color: rgb(141, 141, 172);
    border-radius: 8px;
    width: 425px;
    padding: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }

  h3 {
    margin-bottom: 5px;
  }

  .estado {
    align-items: center;
    justify-content: center;
  }

  .tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;

    .tecnologias-lista {
      display: flex;
      flex-direction: column;
    }
  }

  .descripcion .textDescript {
    text-align: justify;
  }

  .enlaces {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;


    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
