*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(141, 141, 172);
}

#root {
  font-family: 'Candara', Lato, sans-serif;
  font-size: 16px;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
}
